
    
    ul{
        list-style-type: none;
       background: black;
       border-radius: 30px;
       display: flex;
       
    } 
    li{
        display: inline-block;
        margin: auto;
        padding: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 30px;
        border-radius: 30px;
    
    }
    li a{

        color: rgb(248, 244, 244);
        shape-margin: 30px;
        background-color: rgba(0, 0, 0, 0.856);
        border-radius: 30px;
        padding: 5px;
    }
    ul li a{
        text-decoration: none;
        text-transform: uppercase;
        position: relative;
        margin-left: 30px;
    }
    ul li a:hover{
        color: red;
    }
   


header, h1{
    color: rgb(20, 20, 20);
    background-color: aquamarine ;
    margin: auto;
    background: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
   background-image: url("./pexels-media-114907.jpeg");
   padding: 10px;
   margin: auto;
   background-repeat: no-repeat;

  
   
}
header a{
    text-decoration: none;
}
.content{
    display: flex;
    font-size: 30px; 

}
.content img{
    border-radius: 300px;
    width: 300px; 
    height: 300px;
    box-shadow: 10px 10px 10px black;
    
}
.content p{
    
    background: linear-gradient( rgba(255, 255, 255, 0.801), rgba(82, 82, 90, 0.212));
    border-radius: 30px;
    padding: 10px;
}
.card-block{
    display: flex;
    display: inline-flex;
    margin: auto;
    padding-left: 20px ;
}
img{
    width: 350px;
    height: 200px;
    border-radius: 30px;
    margin: auto;
    display: flex;
   
}
.card-part{
    margin: 20px;
    padding: 20px;
    background-color: rgba(0, 255, 255, 0.596);
    background: linear-gradient( rgba(0, 0, 255, 0.904), white);
    border-radius: 30px;
    box-shadow: 10px 10px 10px black;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgb(22, 16, 16);
    
}
.card-part:hover{
    transform: translateY(5%);
    box-shadow: 10px 10px 10px black;
    transition: transform 0.6s ease;

}
button{
    padding: 10px;
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 30px;
    background: rgba(180, 157, 114, 0.87);

}
button:hover{
    background: red;
    transform: translate3d(20px);
}
